{{ if .Title }}
  <figure>
    <img src="{{ .Destination | safeURL }}" alt="{{ .Text }}">
    <figcaption>
      {{ .Title }}
    </figcaption>
  </figure>
{{ else }}
  <figure>
    <img src="{{ .Destination | safeURL }}" alt="{{ .Text }}">
  </figure>
{{ end }}
