<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode | default "en-us" }}">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <style type=text/css>body{font-family:monospace;}</style>

    <!-- Page's Metadata -->
    <!-- Page title -->
    {{ if (eq .Title .Site.Title) }}
      {{ with $title := .Title }}
        <title>{{ . }}</title>
        <meta property="og:title" content="{{ . }}">
      {{ end }}
    {{ else }}
      {{ with $title := printf "%s | %s" .Title .Site.Title}}
        <title>{{ . }}</title>
        <meta property="og:title" content="{{ . }}">
      {{ end }}
    {{ end }}

    {{ with .Site.Params.description }}
      <meta name="description" content="{{ . }}">
    {{ end }}

    {{ with .Site.Params.author }}
      <meta name="author" content="{{ . }}">
    {{ end }}

    <link rel="stylesheet" href="{{ "css/style.css" | relURL }}">

    {{ range .Site.Params.customCSS -}}
      <link rel="stylesheet" href="{{ . | relURL }}?rnd={{ now.Unix }}">
    {{- end }}

    {{ with .OutputFormats.Get "RSS" -}}
      {{ printf `<link rel="%s" type="%s" href="%s" title="%s">` .Rel .MediaType.Type .RelPermalink $.Site.Title | safeHTML }}
    {{- end }}
  </head>
  <body>
    <div style="position: relative; min-height: 90vh;">
      <div style="padding-bottom: 2.5rem">
        {{ partial "header" . }}
        {{ block "main" . }}{{ end }}
      </div>
      <footer style="position: absolute; bottom: 0; width: 100%; height: 2.5rem;">
        {{ partial "footer" . }}
      </footer>
    </div>
  </body>
</html>
