{{ define "main" }}
  <main>
    <article>
      <h1>{{ .Title }}</h1>
      <b>
        Posted
        {{ if .Date }}
          <time>
            on {{ .Date.Format (default "2006-01-02 15:04:05" .Site.Params.dateFmt) }}
          </time>
        {{ end }}

        {{ with .Params.categories }}
          in
          {{ range first 1 . }}
            <a href="{{ "/categories/" | relLangURL }}{{ . | urlize }}">{{ . }}</a>
          {{- end -}}
          {{- range after 1 . -}}
            , <a href="{{ "/categories/" | relLangURL }}{{ . | urlize }}">{{ . }}</a>
          {{- end -}}
        {{ end }}
      </b>

      {{ with .WordCount }}
        • {{ . }} words
      {{ end }}

      {{ with .ReadingTime }}
        • {{ . }} minute read
      {{ end }}

      <div>
        {{ .Content }}
      </div>

      <br>
      {{ with .Params.tags }}
        <b>Tags:</b>
        {{ range first 1 . }}
          <a href="{{ "/tags/" | relLangURL }}{{ . | urlize }}">{{ . }}</a>
        {{- end -}}
        {{- range after 1 . -}}
          , <a href="{{ "/tags/" | relLangURL }}{{ . | urlize }}">{{ . }}</a>
        {{- end -}}
      {{ end }}
    </article>
  </main>

  <!-- .Site.Params.mainSections is a generic way to choose a main section. If
    .Site.Params.mainSections undefined in config.toml, pick the first section
    with most posts. -->
  {{ $pages := (where .Site.RegularPages "Type" "in" .Site.Params.mainSections) }}
  <div class="next-prev">
    {{ with $pages.Prev . }}
      <a class="prev" href="{{ .Permalink }}" title="{{ .Title }}">« {{ .Title | truncate 50 "..." }}</a>
    {{ end }}
    {{ with $pages.Next . }}
      <a class="next" href="{{ .Permalink }}" title="{{ .Title }}">{{ .Title | truncate 50 "..." }} »</a>
    {{ end }}
  </div>

  {{ partial "sidebar.html" . }}
{{ end }}
