<p>
  <h5>
    &copy; {{ now.Year }} 
    {{ if .Site.Params.author }}
      {{ .Site.Params.author }}.
    {{ else }}
      {{ .Site.Title }}.
    {{ end }}

    Except where otherwise noted, the content on this site is licensed under a <a href="https://creativecommons.org/licenses/by-sa/4.0/">CC BY-SA 4.0</a> license.
  </h5>

  {{ range .Site.Menus.footer }}
    <a href="{{ .URL }}"><b>{{ .Name }}</b></a>.
  {{- end }}
</p>
