<div>
  {{ if .Paginator.HasPrev }}
    <a href="{{ .Paginator.Prev.URL }}">« <small>Prev</small></a>
  {{ end }}

  {{ if ge .Paginator.TotalPages 1 }}
    {{ .Paginator.PageNumber }} of {{ .Paginator.TotalPages }}
  {{ end }}

  {{ if .Paginator.HasNext }}
    <a href="{{ .Paginator.Next.URL }}"><small>Next</small> »</a>
  {{ end }}
</div>
