<!-- .Site.Params.mainSections is a generic way to choose a main section. If
  .Site.Params.mainSections undefined in config.toml, pick the first section
  with most posts. -->
{{ $pages := (where .Site.RegularPages "Type" "in" .Site.Params.mainSections) }}
{{ if ge (len $pages) 1 }}
  <aside>
    <div>
      <div>
        <h3>Recent Posts</h3>
      </div>
      <div>
        <ul>
          {{ range first 5 $pages }}
            <li><a href="{{ .RelPermalink }}">{{ .Title }}</a></li>
          {{ end }}
        </ul>
      </div>
    </div>
  </aside>
{{ end }}
